name: CI

on:
  push:
    branches: [master, main]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - 'VERSION'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - 'VERSION'
      - 'docs/**'

jobs:
  ci:
    uses: Sokol111/ecommerce-infrastructure/.github/workflows/go-ci.yml@master
